embedEtcd.yaml
standalone.bat
user.yaml
volumes
*__pycache__
project
project.zip
.env
e5-base-retrievers
custom_model
fine-tunning

.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/workspace.json
.obsidian/plugins/editing-toolbar/data.json
.obsidian/plugins/editing-toolbar/main.js
.obsidian/plugins/editing-toolbar/manifest.json
.obsidian/plugins/editing-toolbar/styles.css
test.ipynb
