torch==2.6.0 torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
transformers==4.48.3 && \
huggingface_hub==0.25.2 && \
accelerate>=0.26.0 && \
sentence_transformers==4.0.1
uvicorn==0.34.0
python-multipart==0.0.20
fastapi==0.115.12
numpy==2.2.4
langchain-community==0.3.20
pypdf==5.4.0
datasets==3.5.0
