uvicorn==0.34.0
python-multipart==0.0.20
fastapi==0.115.12
numpy==2.2.4
mistralai==1.6.0
datasets==3.5.0

# --find-links https://download.pytorch.org/whl/torch_stable.html
# torch==2.6.0+cpu
# transformers==4.48.3 
# huggingface_hub==0.25.2
# sentence_transformers==2.2.2